# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.sixth
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Build files
build/
dist/
*.egg-info/